@use "./scss/variables";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  margin-top: 6rem;
  background-color: variables.$primary-color;

  p {
    font-size: 0.9rem;
    color: variables.$light-text-color;
  }
}
