@use "./scss/variables";
@use "./scss/responsive";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  margin-top: 6rem;
  background-color: variables.$primary-color;

  @include responsive.md {
    margin-top: 4rem;
  }

  p {
    font-size: 0.9rem;
    color: variables.$light-text-color;
  }
}
