.container {
  display: flex;
}
.container .answersContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 45.625rem;
  padding: 1.5rem;
  border-radius: 0.6rem;
  box-shadow: rgba(61, 82, 160, 0.05) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #fdfdfe;
}
.container .answersContainer .counterBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container .answersContainer .counterBox .removeBox {
  display: flex;
  gap: 0.6rem;
}
.container .answersContainer .counterBox .removeBox .type {
  height: 1.5rem;
  justify-self: center;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.1rem 0.4rem;
  border-radius: 0.4rem;
  color: #fdfdfe;
  background-color: #7091e6;
}
.container .answersContainer .counterBox .removeBox button {
  all: unset;
  cursor: pointer;
}
.container .answersContainer .counterBox .removeBox button svg {
  width: 1.1rem;
  height: 1.5rem;
}
.container .answersContainer .counterBox p {
  font-size: 0.85rem;
  opacity: 0.9;
  letter-spacing: 0.05rem;
}
.container .answersContainer .counterBox .border::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 2.188rem;
  height: 0.1rem;
  border-bottom: 0.1rem solid #ede8f5;
}
.container .answersContainer .answerText {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.container .answersContainer .answerText .voteHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2rem;
}
.container .answersContainer .answerText .voteHolder .upVoteBox,
.container .answersContainer .answerText .voteHolder .downVoteBox {
  width: 2rem;
  height: 2rem;
  background-color: rgba(231, 234, 244, 0.4);
}
.container .answersContainer .answerText .voteHolder .upVoteBox button,
.container .answersContainer .answerText .voteHolder .downVoteBox button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.container .answersContainer .answerText .voteHolder .upVoteBox button:hover,
.container .answersContainer .answerText .voteHolder .downVoteBox button:hover {
  background-color: #e7eaf4;
}
.container .answersContainer .answerText .voteHolder .upVoteBox button svg,
.container .answersContainer .answerText .voteHolder .downVoteBox button svg {
  height: 1.2rem;
  color: #7091e6;
}
.container .answersContainer .answerText .voteHolder .upVoteBox {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.container .answersContainer .answerText .voteHolder .upVoteBox button svg:hover {
  color: green;
}
.container .answersContainer .answerText .voteHolder .downVoteBox {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.container .answersContainer .answerText .voteHolder .downVoteBox button svg:hover {
  color: brown;
}
.container .answersContainer .answerText .voteHolder .middleVoteBox {
  background-color: rgba(231, 234, 244, 0.4);
}
.container .answersContainer .answerText .voteHolder .middleVoteBox p {
  font-weight: 600;
  padding: 0.4rem 0rem;
  text-align: center;
}
.container .answersContainer .answerText .textBox {
  display: flex;
  flex-direction: column;
  gap: 0.84rem;
  flex: 1;
}
.container .answersContainer .answerText .textBox h5 {
  text-align: right;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
.container .answersContainer .answerText .textBox h5 span {
  font-size: 0.85rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.05rem;
}
.container .answersContainer .answerText .textBox p {
  text-align: justify;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.05rem;
}

.cardLeftSide .answersContainer {
  display: flex;
}
.cardLeftSide .answersContainer .counterBox {
  display: flex;
}
.cardLeftSide .answersContainer .answerText {
  display: flex;
  flex-direction: row-reverse;
}
.cardLeftSide .answersContainer .answerText .textBox h5 {
  text-align: left;
}

.cardRightSide .answersContainer {
  display: flex;
}/*# sourceMappingURL=AnswerCard.module.css.map */