@use "../../../../styles/scss/variables";
@use "../../../../styles/scss/responsive";

.container {
  display: flex;

  .answersContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 45.625rem;
    padding: 1.5rem;
    border-radius: 0.6rem;
    box-shadow: variables.$primary-shadow;
    background-color: variables.$color-white;

    @include responsive.ms {
      width: calc(100vw - 7rem);
    }

    @include responsive.ms {
      width: calc(100vw - 3rem);
    }

    .counterBox {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .removeBox {
        display: flex;
        gap: 0.6rem;

        .type {
          height: 1.5rem;
          justify-self: center;
          font-size: 0.8rem;
          font-weight: 400;
          padding: 0.1rem 0.4rem;
          border-radius: 0.4rem;
          color: variables.$color-white;
          background-color: variables.$secondary-color;
        }

        .modifyAnswer {
          display: flex;
          gap: 1rem;

          button {
            all: unset;
            cursor: pointer;

            svg {
              width: 1.1rem;
              height: 1.5rem;
              color: variables.$accent-color;
            }
          }
        }
      }

      p {
        font-size: 0.85rem;
        opacity: 0.9;
        letter-spacing: 0.05rem;
      }

      .border {
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          top: 2.188rem;
          height: 0.1rem;
          border-bottom: 0.1rem solid variables.$background-color;
        }
      }
    }

    .answerText {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .voteHolder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 2rem;

        .upVoteBox,
        .downVoteBox {
          width: 2rem;
          height: 2rem;
          background-color: variables.$button-color;

          button {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &:hover {
              background-color: variables.$light-text-color;
            }

            svg {
              height: 1.2rem;
              color: variables.$secondary-color;
            }
          }
        }

        .upVoteBox {
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;

          button {
            svg {
              &:hover {
                color: green;
              }
            }
          }
        }

        .downVoteBox {
          border-bottom-left-radius: 50%;
          border-bottom-right-radius: 50%;

          button {
            svg {
              &:hover {
                color: brown;
              }
            }
          }
        }

        .middleVoteBox {
          background-color: variables.$button-color;

          p {
            font-weight: 600;
            padding: 0.4rem 0rem;
            text-align: center;
          }
        }
      }

      .textBox {
        display: flex;
        flex-direction: column;
        gap: 0.84rem;
        flex: 1;

        h5 {
          text-align: right;
          font-weight: 400;
          letter-spacing: 0.05rem;

          span {
            font-size: 0.85rem;
            font-weight: 600;
            font-style: italic;
            letter-spacing: 0.05rem;
          }
        }

        p {
          text-align: justify;
          font-weight: 300;
          line-height: 1.6;
          letter-spacing: 0.05rem;
        }
      }
    }
  }
}

.cardLeftSide {
  .answersContainer {
    display: flex;

    .counterBox {
      display: flex;
    }

    .answerText {
      display: flex;
      flex-direction: row-reverse;

      .textBox {
        h5 {
          text-align: left;
        }
      }
    }
  }
}

.cardRightSide {
  .answersContainer {
    display: flex;
  }
}
