$primary-color: #3d52a0;
$secondary-color: #7091e6;
$accent-color: #8697c4;
$additional-color: #adbbda;
$background-color: #ede8f5;

$light-text-color: #e7eaf4;
$dark-text-color: #26283b;

$color-white: #fdfdfe;

$primary-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$secondary-shadow: rgba(50, 50, 93, 0.25) 0px 8px 24px;
$additional-shadow: rgba(50, 50, 93, 0.75) 1.95px 1.95px 2.6px;

$header-background: linear-gradient(
  270deg,
  rgba(146, 199, 207, 1) 0%,
  rgba(170, 215, 217, 1) 100%
);
