@use "../../../../styles/scss/variables";
@use "../../../../styles/scss/responsive";

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50.625rem;
  padding: 1.5rem;
  border-radius: 0.6rem;
  box-shadow: variables.$primary-shadow;
  background-color: variables.$color-white;

  @include responsive.ms {
    width: 100%;
  }

  h5 {
    font-size: 0.9rem;
    padding-left: 0;
  }

  .replyContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    textarea {
      // width: 40rem;
      height: 12rem;
      border-radius: 0.6rem;
      padding: 1rem;
      resize: none;
    }
  }
  .submitBox {
    display: flex;
    gap: 2rem;
    align-items: center;

    .replyBtn {
      width: 6rem;
      margin-top: 0;
    }

    .errorMessage {
      font-size: 0.9rem;
      color: brown;
    }
  }
}
