@use "../../../../styles/scss/variables";
@use "../../../../styles/scss/responsive";

.container {
  position: relative;
  display: flex;
  padding: 8rem 1rem 1rem 1rem;
  width: 70rem;
  min-height: 10rem;

  @include responsive.xl {
    width: 100%;
  }

  .communicationWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }

  .questionHolder {
    display: flex;

    @include responsive.xl {
      justify-content: center;
    }
  }

  .answersHolder {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 5rem;

    @include responsive.xl {
      align-items: center;
    }

    @include responsive.ss {
      padding-left: 1rem;
    }

    h4 {
      text-align: end;
      width: 45.625rem;
      padding-right: 1.5rem;

      @include responsive.ms {
        width: 100%;
      }
    }
  }

  .replyHolder {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 4rem;

    @include responsive.xl {
      width: 100%;
      align-items: center;
    }

    h4 {
      padding-left: 1.5rem;
    }
  }
}
