@use "../../../../styles/scss/responsive";
@use "../../../../styles/scss/variables";

.container {
  position: relative;
  right: 0;
  z-index: 10;
  padding: 2rem;
  border-radius: 0.4rem;
  background-color: variables.$background-color;
  opacity: 0.95;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;

    .linkHolder {
      all: unset;
      font-weight: 500;
      cursor: pointer;
    }

    .user {
      color: variables.$dark-text-color;
      font-weight: 600;
      text-decoration: underline;
    }

    li {
      a {
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 500;
        color: variables.$dark-text-color;
      }
    }
  }
}
