@use "../../../../styles/scss/variables";

.linkHolder {
  all: unset;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  width: 52.125rem;
  padding: 1rem;
  border-radius: 0.6rem;
  box-shadow: variables.$primary-shadow;
  background-color: variables.$color-white;
  cursor: pointer;

  .questionDescription {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 28rem;

    h2 {
      font-size: 1rem;
    }
  }

  .votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    font-size: 0.85rem;

    svg {
      width: 1.4rem;
    }

    span {
      font-size: 0.9rem;
      font-weight: 700;
    }
  }

  .answerCounter {
    display: flex;
    gap: 0.5rem;

    svg {
      width: 1.2rem;
    }
  }

  .timeUser {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 9rem;

    .date {
      text-align: end;
    }

    .user {
      font-weight: 400;
      font-size: 0.8rem;

      span {
        text-align: end;
        font-weight: 500;
        font-size: 0.85rem;
        font-style: italic;
        padding-left: 0.25rem;
      }
    }
  }

  p {
    font-size: 0.9rem;
  }

  .category {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .categoryBackground {
      width: 0.75rem;
      height: 0.75rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}
