@use "../../../styles/scss/variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .userBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    .userManagement {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
    }

    .manageBackground {
      display: flex;
      align-items: center;
      justify-content: center;

      .toggleButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: 3rem;
        padding: 1rem;
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        border: none;
        border-radius: 0.4rem;
        color: variables.$dark-text-color;
        background-color: transparent;
        cursor: pointer;
      }

      .toggleButton:hover {
        text-decoration: underline;
        line-height: 1.6;
      }
    }
  }
}
