@use "../../../../styles/scss/variables";
@use "../../../../styles/scss/responsive";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 27rem;
  width: 16.375rem;
  padding: 1rem;
  border-radius: 0.6rem;
  box-shadow: variables.$primary-shadow;
  background-color: variables.$color-white;
  cursor: pointer;

  @include responsive.xl {
    height: 100%;
    width: 52.125rem;
  }

  @include responsive.ms {
    width: 100%;
  }

  h2 {
    text-align: center;
    font-size: 1.2rem;
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-left: 1rem;
    list-style: none;

    @include responsive.xl {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
    }

    @include responsive.ms {
      gap: 2.5rem;
    }

    @include responsive.xs {
      flex-direction: column;
    }

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      padding-left: 0.3rem;
      counter-increment: step-counter;

      &:nth-of-type(1) {
        font-weight: 700;
        color: rgb(255, 215, 0, 0.95);

        &:before {
          content: "🥇";
          position: absolute;
          left: -15%;
        }
      }

      &:nth-child(2) {
        font-weight: 700;
        color: rgb(192, 192, 192, 0.95);

        &:before {
          content: "🥈";
          position: absolute;
          left: -15%;
        }
      }

      &:nth-child(3) {
        font-weight: 700;
        color: rgb(205, 127, 50, 0.95);

        &:before {
          content: "🥉";
          position: absolute;
          left: -15%;
        }
      }

      .userName {
        display: flex;
        align-items: center;
        font-size: 0.95rem;
        font-weight: 600;

        @include responsive.xl {
          font-size: 0.9rem;
        }

        &::before {
          content: counter(step-counter);
          margin-right: 0.4rem;
          font-size: 0.85rem;
          background-color: variables.$primary-color;
          color: variables.$light-text-color;
          font-weight: bold;
          padding: 0.18rem 0.53rem;
          border-radius: 50%;
        }
      }

      .answerCount {
        padding-left: 2rem;
        font-size: 0.95rem;
      }
    }
  }
}
