@use "../../../../styles/scss/variables";
@use "../../../../styles/scss/responsive";

.login_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
  z-index: 1;

  .login_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 22rem;
    height: 14rem;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: variables.$primary-shadow;
    background-color: variables.$light-text-color;

    .active_login {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.9rem;

      h4 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
      }

      p {
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
      }

      .input {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;

        .password_box {
          position: relative;

          .eyeIcon {
            position: absolute;
            top: 50%;
            left: 90%;
            transform: translate(-50%, -50%);
            height: 1.1rem;
            width: 1.1rem;
            opacity: 0.65;
            cursor: pointer;

            svg {
              height: 100%;
              width: 100%;
              color: #808080;
            }
          }
        }

        input {
          width: 12rem;
          padding: 0.3rem 2.2rem 0.3rem 0.8rem;
          border: 0.1rem solid variables.$background-color;
          border-radius: 0.4rem;
          box-shadow: variables.$additional-shadow;
          outline: none;

          &::placeholder {
            padding-left: 0.2rem;
            color: variables.$dark-text-color;
            opacity: 0.5;
          }

          &[type="email"] {
            padding-left: 0.8rem;
          }

          &[type="password"] {
            padding-left: 0.8rem;
          }
        }

        .username_info_error,
        .password_info_error {
          display: flex;
          align-items: center;

          p {
            font-size: 0.8rem;
          }
        }
      }
    }

    .btn_info {
      position: relative;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.8rem;

      button {
        margin-top: 0.5rem;
      }

      .error {
        height: 1rem;
        font-size: 0.8rem;
        color: brown;
      }
    }
  }
}
