.outerContainer {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 500px) {
  .outerContainer {
    gap: 0.5rem;
    flex-direction: column-reverse;
  }
}
.outerContainer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.outerContainer .container a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #26283b;
}
@media screen and (max-width: 950px) {
  .outerContainer .container a {
    display: none;
  }
}
.outerContainer .container button {
  all: unset;
  display: none;
}
@media screen and (max-width: 950px) {
  .outerContainer .container button {
    display: inline-block;
  }
}
.outerContainer .container button svg {
  cursor: pointer;
}
.outerContainer .userManage {
  display: flex;
  gap: 2rem;
}
.outerContainer .userManage .avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border: 0.1rem solid #e7eaf4;
  border-radius: 50%;
  background-color: #3d52a0;
  cursor: pointer;
}
.outerContainer .userManage .avatar .initials {
  font-weight: 500;
  color: #e7eaf4;
}
.outerContainer .userManage .avatar .userNameBox,
.outerContainer .userManage .avatar .userNameBoxHide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 12rem;
  top: 100%;
  padding: 1rem;
  border: 0.1rem solid #e7eaf4;
  border-radius: 0.6rem;
  background-color: #3d52a0;
  transform: translateY(2rem);
  cursor: default;
}
.outerContainer .userManage .avatar .userNameBox .signOutHolder,
.outerContainer .userManage .avatar .userNameBoxHide .signOutHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.outerContainer .userManage .avatar .userNameBox .signOutHolder p,
.outerContainer .userManage .avatar .userNameBoxHide .signOutHolder p {
  font-size: 0.95rem;
  font-weight: 600;
  color: #e7eaf4;
}
.outerContainer .userManage .avatar .userNameBox .signOutHolder .signOut,
.outerContainer .userManage .avatar .userNameBoxHide .signOutHolder .signOut {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.outerContainer .userManage .avatar .userNameBox .signOutHolder .signOut p,
.outerContainer .userManage .avatar .userNameBoxHide .signOutHolder .signOut p {
  font-size: 0.9rem;
  font-weight: 300;
  color: #e7eaf4;
}
.outerContainer .userManage .avatar .userNameBox .signOutHolder .signOut svg,
.outerContainer .userManage .avatar .userNameBoxHide .signOutHolder .signOut svg {
  height: 1.7rem;
}
.outerContainer .userManage .avatar .userNameBoxHide {
  display: none;
}
.outerContainer .userManage .linkHolder {
  width: 1.8rem;
}
.outerContainer .userManage .linkHolder svg {
  height: 100%;
  width: 100%;
  color: #26283b;
}
.outerContainer .userManage .user {
  color: #e7eaf4;
}
.outerContainer .userManage .login {
  padding: 0.38rem 1.65rem;
  border-radius: 0.4rem;
  border: 0.15rem solid #26283b;
}
.outerContainer .userManage .login:hover {
  color: #e7eaf4;
  background-color: #26283b;
}/*# sourceMappingURL=NavList.module.css.map */